In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_API_KEY
#import os
#from dotenv import load_dotenv
#load_dotenv()
#Google_API_KEY = os.getenv("g_API_KEY")

In [2]:
city_data_df= pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Avarua,CK,2022-03-09 09:00:50,-21.2078,-159.7750,27.03,83,20,4.12
1,1,Cherskiy,RU,2022-03-09 09:00:50,68.7500,161.3000,-14.55,82,99,2.46
2,2,Cape Town,ZA,2022-03-09 09:00:51,-33.9258,18.4232,30.06,47,0,3.60
3,3,Torbay,CA,2022-03-09 09:00:51,47.6666,-52.7314,-1.35,73,94,14.31
4,4,Caravelas,BR,2022-03-09 09:00:52,-17.7125,-39.2481,22.17,94,93,1.71

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_API_KEY)
fig = gmaps.figure()
fig
city_data_df[["Lat", "Lng"]]

         Lat       Lng
0   -21.2078 -159.7750
1    68.7500  161.3000
2   -33.9258   18.4232
3    47.6666  -52.7314
4   -17.7125  -39.2481
..       ...       ...
579  31.4044   30.4164
580  -9.6567  120.2641
581  11.9214  109.1591
582  41.1231   80.2644
583   4.2500  -54.3833

[584 rows x 2 columns]

# Heatmap of temperature

In [5]:
city_data_df[["Lat", "Lng"]]

         Lat       Lng
0   -21.2078 -159.7750
1    68.7500  161.3000
2   -33.9258   18.4232
3    47.6666  -52.7314
4   -17.7125  -39.2481
..       ...       ...
579  31.4044   30.4164
580  -9.6567  120.2641
581  11.9214  109.1591
582  41.1231   80.2644
583   4.2500  -54.3833

[584 rows x 2 columns]

In [6]:
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps= []
for temp in max_temp:
    temps.append(max(temp,0))
# [max(temp,0) for temp in max_temp]
#print(temps)

# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Adjust Heatmap Zoom, Intensity, and Point Radius

In [7]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [8]:
heat_layer = gmaps.heatmap_layer(locations, 
            weights=[max(temp, 0) for temp in max_temp], 
            dissipating=False, max_intensity=300, point_radius=4)

# Create a Percent Humidity Heatmap

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Create a Percent Cloudiness Heatmap

In [10]:
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

# wind heatmap

In [28]:
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# input()

In [29]:
# Ask the customer to add a minimum and maximum temperature value.
a = float(input("What is the minimum temperature you would like for your trip? "))
b = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 30
What is the maximum temperature you would like for your trip? 45

In [30]:
#print(max_temp, min_temp)
#city_data_df.head()
print(a, b)

30.0 45.0

In [ ]:
perf_cities_df = city_data_df.loc[(city_data_df['Max Temp']<= max_temp)
                                  & (city_data_df['Max Temp']>=min_temp)]
perf_cities_df.head()

In [ ]:
perf_cities_df.count()

# Get Travel Destinations - Hotel

In [32]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = perf_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

         City Country  Max Temp      Lat       Lng Hotel Name
0      Avarua      CK     27.03 -21.2078 -159.7750
4   Caravelas      BR     22.17 -17.7125  -39.2481
5     Rikitea      PF     25.93 -23.1203 -134.9692
7       Vaini      TO     26.04 -21.2000 -175.2000
9    Khorixas     NaN     29.28 -20.3667   14.9667
13  Dhidhdhoo      MV     28.05   6.8833   73.1000
15     Panaba      MX     21.93  21.2833  -88.2667
18      Jambi      ID     29.38  -1.6000  103.6167
19      Rundu     NaN     26.47 -17.9333   19.7667
20     Riyadh      SA     26.08  24.6877   46.7219

In [ ]:
# Set parameters to search for a hotel.
params = {"radius":5000,
         "type":"lodging",
         "key":g_API_KEY}

# TEST_a Fixed Latitude and Longitude

In [ ]:
# Set the parameters to search for a hotel in Paris.
#params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_API_KEY,
    "location": "48.8566, 2.3522"}
# Use base URL to search for hotels in Paris.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Make request and get the JSON data from the search.
hotels = requests.get(base_url, params=params).json()

hotels

In [35]:
# Iterate through the DataFrame.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_API_KEY}

for index, row in hotel_df.iterrows():
    lat= row['Lat']
    lng= row['Lng']
    
    params['location']= f'{lat}, {lng}'
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    hotels= requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, 'Hotel Name']= hotels['results'][0]['name']
    except:
        print('Hotel not found')

Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found

In [36]:
hotel_df

            City Country  Max Temp      Lat       Lng              Hotel Name
0         Avarua      CK     27.03 -21.2078 -159.7750            Paradise Inn
4      Caravelas      BR     22.17 -17.7125  -39.2481  Pousada dos Navegantes
5        Rikitea      PF     25.93 -23.1203 -134.9692         People ThankYou
7          Vaini      TO     26.04 -21.2000 -175.2000     Keleti Beach Resort
9       Khorixas     NaN     29.28 -20.3667   14.9667          Khorixas Lodge
..           ...     ...       ...      ...       ...                     ...
579      Rosetta      EG     16.15  31.4044   30.4164            Green Valley
580     Waingapu      ID     28.21  -9.6567  120.2641      Pondok Wisata Elim
581     Cam Ranh      VN     26.98  11.9214  109.1591     OYO 598 Peony Hotel
582         Aksu      CN     16.13  41.1231   80.2644    Pudong Holiday Hotel
583  Grand-Santi      GF     21.72   4.2500  -54.3833  Hotel La Villa Couacou

[253 rows x 6 columns]

# Create a Maximum Temperature Heatmap from a Hotel DataFrame

In [46]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=100, point_radius=4)
marker_layer= gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [48]:
# Store the DataFrame Row.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [49]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
locations